

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#container {
  position:relative;
  z-index: 10000;
}

.container-pod {
  margin-top: 125px;
}

.page-title {
  font-size: 48px;
  line-height: 56px;
  color: white;
  margin: 0 0 8px 0;
  font-weight: 600;
  text-align: center;
}

.join-bitly {
  text-align: center;
  line-height: 19px;
  padding: 0 5%;
  color: #fff;
  font-size: 21px;
  margin: 15px 0 45px;
}

#form-container {
  width: 83%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.urlInputContainer {
  width: 85%;
  float: left;
  position: relative;
}

#shorten_url {
  height: 60px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  padding: 14.4px 23px;
  color: #7f898e;
  line-height: 32px;
  border-radius: 3px 0 0 3px;
  border-width: 0;
  box-shadow: 0 0 0 1px #fff;
}

#shorten_btn {
  float: right;
  width: 15%;
  border-radius: 0 3px 3px 0;
  text-align: center;
  font-size: 13px;
  line-height: 19.2px;
  height: 61.5px;
  color: #fff;
  background-color: #ee6123;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  bottom: 1px;
}

input {
  border: none;
  padding: 0px;
}

input#shorten_url:focus { 
    outline: none !important;
    border-left: 1px solid #ee6123;
    border-top: 1px solid #ee6123;
    border-bottom: 1px solid #ee6123;
    box-shadow: 0 0 4px #ee6123;
    caret-color: #ee6123;
    color: #ee6123;
    background-color: #fff6f2;
}

#clear_active_shorten {
  color: #ee6123;
  font-size: 16px;
  line-height: 24px;
  top: 18px;
  right: 25px;
  opacity: 1;
  font-weight: normal;
  position: absolute;
}

#clear_active_shorten:hover {
  color: #98370c;
  text-decoration: underline;
  opacity: 1;
}

#link-container {  
  width: 83%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
  margin-bottom: 60px;
}


#link-container ul {
  padding: 0;
  list-style-type: none;
  margin-top: 0;
  position: relative;
}

#link-container li {
  height: 140px;
  padding: 24px 26px;
  font-family: 'Proxima Nova';
  font-weight: 400;
}
